form {
    padding-bottom: 2rem;
}

input {
    border-radius: 15px;
    padding: 0.5rem;
    width: 90vw;
}

.fa-solid {
    position: absolute;
    left: 2.2rem;
    top: 12.49rem;
    color: gray;
}