.nav-left,
.nav-right {
    list-style: none;
    text-decoration: none;
    a {
        text-decoration: none;
    }
}

.store {
    display: block;
    position: relative;
    left: 18rem;
    bottom: 1rem;
}

.about {
    display: block;
    position: relative;
    top: 0.5rem;
    left: 1rem;
}

.pic {
    display: block;
    position: relative;
    left: 12rem;
    bottom: 2.5rem;
}

.floo {
    display: block;
    position: relative;
    left: 5.8rem;
    bottom: 1.9rem;
}

.images {
    display: block;
    position: relative;
    left: 12rem;
    bottom: 3.5rem;
}

.footer-nav-top,
.footer-nav-bottom {
    list-style: none;
    text-decoration: none;
    a {
        text-decoration: none;
    }
}

footer {
    margin-top: 5rem;
    .privacy {
        display: block;
        position: relative;
        left: 3.5rem;
        top: 2rem;
    }
    .terms {
        display: block;
        position: relative;
        left: 8rem;
        top: 0.5rem;
    }
    .settings {
        display: block;
        position: relative;
        left: 12.3rem;
        bottom: 1rem;
    }
    .advertising {
        display: block;
        position: relative;
        left: 4rem;
        top: 0.35rem;
    }
    .business {
        display: block;
        position: relative;
        left: 11rem;
        bottom: 1.15rem;
    }
}

.footer-div {
    background-color: lightgray;
}

.button:hover,
a,
:hover .pic:hover {
    cursor: pointer;
}

.about:hover,
.store:hover,
.floo:hover,
.images:hover,
.privacy:hover,
.terms:hover,
.settings:hover,
.advertising:hover,
.business:hover {
    background-color: darken($color: #CCCCCC, $amount: 20);
}